/node_modules
.git
.scannerwork
.idea
.DS_Store
.env.local
.npmrc
.yarn/*
!.yarn/releases
!.yarn/plugins
.pnp.*
npm-debug.log*
tsconfig.*buildinfo
yarn-debug.log*
yarn-error.log*
/test.ts